@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1280px;
}

.main-header {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
}

.main-logo {
  position: absolute;
}

.logo {
  display: block;
}

.main-navigation-list {
  margin: 0;
  padding: 0 0 0 168px;
  width: 540px;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.main-navigation-item {
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.main-navigation-link {
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
}

.navigation-user {
  margin: 0 20px 0 0 ;
  padding: 0;
  width: 170px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.navigation-user-item {
  list-style: none;
}

.search {
  display: block;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  background-image: url("../images/decor/search.svg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.likes {
  display: block;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  background-image: url("../images/decor/heart.svg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.link-button {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  align-items: center;
  justify-content: center;
  border: transparent;
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
}

.user-menu {
  width: 160px;
  height: 36px;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  margin-bottom: 90px;
}

.hero-image-container {
  background-image: url(../images/content-index/hero-image-decoration.svg), url(../images/content-index/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-color: #7DB54F;
  background-position: left bottom, left top;
  padding-top: 51px;
  align-self: stretch;
}

.hero-image-text {
  padding-bottom: 82px;
  display: block;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 69px;
  margin-bottom: 25px;
  margin-top: 0;
}

.hero-subtitle {
  margin: 0;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 96px;
  margin: 0 0 20px 0;
}

.section-title, .subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.hotels-search {
  color: #FFFFFF;
  background-color: #7DB54F;
  background-image: url(../images/decor/search-hotels-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}

.main-title-catalog {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.return-to-home {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/decor/return-to-main-page.svg);
}

.decorative-arrow {
  display: block;
  width: 6px;
  height: 10px;
  background-image: url(../images/decor/arrow.svg);
}

.inner-navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 40px 0;
  padding: 0;
}

.inner-navigation-item:not(:last-child) {
  margin-right: 10px;
}

.hotels-filter legend {
  margin-bottom: 32px;
}

.hotels-infrastructure-list, .hotels-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inner-navigation-current-page {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.hotels-filter {
  display: flex;
  flex-wrap: wrap;
}

.hotels-infrastructure {
  border: none;
  padding: 0;
  margin-right: 70px;
}

.hotels-type {
  border: none;
  padding: 0;
  margin-right: 140px;
}

.price {
  border: none;
  padding: 0;
  margin-right: 70px;
}

.price-range-selected {
  margin-top: 36px;
  width: 226px;
}

.hotels-filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}

.button-apply {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
}

.button-reset {
  width: 191px;
  height: 36px;
  background-color: transparent;
  margin-top: 32px;
}

.advantages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 400px;
  min-height: 385px;
  background-color: #83B3D31F;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px;
}

.wide-cell {
  width: 1200px;
  display: flex;
  background-color: #82B3D3;
}

.middle-color-cell {
  background: #83B3D333;
}

.light-color-cell {
  background-color: #FFFFFF;
}

.for-tourists {
  padding-top: 64px;
}

.for-tourists .subtitle {
  margin: 0 0 20px 0;
  padding: 0;
}

.for-tourists p {
  margin: 0 0 64px 0;
  text-align: center;
}

.for-tourists-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.discription-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 62px 0;
  text-align: center;
}

.discription-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-align: center;
}

.for-tourists-list img {
  margin-bottom: 30px;
}

.for-tourists-list .discription-title {
  margin-bottom: 30px;
}

.for-tourists-list .discription-text {
  margin: 0;
}

.main-hotels-search {
  margin-bottom: 96px;
}

.main-hotels-search p {
  text-align: center;
  margin: 0 0 54px 0;
}

.hotels-infrastructure-title, .hotels-type-title, .price-range {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.price-range label {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.price-range-min, .price-range-max {
  text-indent: 20px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.hotels-search-rezult {
  padding: 50px 70px 60px;
}

.hotels-search-rezult-menu {
  display: flex;
  margin-bottom: 40px;
}

.hotels-search-rezult-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 6px auto 6px 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  margin-right: 70px;
  width: 292px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 0;
  box-sizing: border-box;
  text-indent: 20px;
}

.visualization-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
}

.visualization-item-cards {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url(../images/decor/icon-cards.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.visualization-item-selected {
border-color: #000000;
}

.visualization-item-cards-and-list {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url(../images/decor/icon-card-and-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.visualization-item-list {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url(../images/decor/icon-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.results-list {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.result-item {
  width: 340px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
}

.result-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.result-hotel-type {
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.result-item .link-button {
  width: 140px;
  height: 36px;
}

.link-button-selected {
  background-color: #7DB54F;
}

.as-link-button {
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.result-price-from {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 0 0 0;
  border-top: 1px solid #E5E5E5;
  gap: 8px;
}

.pagination .link-button {
  min-width: 60px;
  min-height: 60px;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

.pagination .link-button.link-button-current {
 background-color: #F2F2F2;
 color: #000000;
}

.pagination .link-button.pagination-gap {
  background-color: transparent;
  color: #000000;
}

.hotels-search-button {
  width: 376px;
  height: 52px;
  margin: 0 auto;
}

.subscription {
  background-color: #7DB54F;
  background-image: url(../images/decor/search-hotels-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription p {
  text-align: center;
  margin: 0 0 54px 0;
}

.subscription-catalog {
  background-image: none;
  background-color: #FFFFFF;
}

.subscription-form {
  width: 684px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 104px;
}

.subscription-field {
  width: 452px;
  height: 52px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  box-sizing: border-box;
  text-indent: 20px;
}

.subscription-button {
  width: 232px;
  height: 52px;
  background-color: #82B3D3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.main-footer {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FFFFFF;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 142px;
  display: flex;
  flex-wrap: wrap;
}

.vkontakte {
  display: block;
  background-color: #FFFFFF;
  background-image: url("../images/decor/logotype-vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 40px;
}

.telegram {
  display: block;
  background-color: #FFFFFF;
  background-image: url("../images/decor/logotype-telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 40px;
}

.youtube {
  display: block;
  background-color: #FFFFFF;
  background-image: url("../images/decor/logotype-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 40px;
}

.contact-tel {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  width: 720px;
  text-align: center;
}

.htmlacademy {
  display: block;
  background-color: #FFFFFF;
  background-image: url("../images/decor/logotype-htmlacademy.svg");
  width: 115px;
  height: 33px;
}

.light-text {
  color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
